/*
2018-2019 Daniel Shervheim
danielshervheim@gmail.com
github.com/danielshervheim
*/



/* CHAT pane gui */

#messages_viewport {
    background-color: #ffffff;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}

#commands_box {  }



/* INDIVIDUAL messages */

#message_container {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;

    padding: 25px;
}

#message_title {
    margin-bottom: 5px;
    font-weight: bold;
}

#message_body {  }

#message_body.broadcast {  }

#message_body.whisper {
    /* font-style:italic; */
}



/* CONNECTED users popover */

#num_connected_box {
    color: #aaaaaa;
    margin-bottom: 5px;
}

#connected_users_box {

}

#user_button {

}

#userlist_box {
    margin: 10px;
}